.fab.fa-facebook-f{
border:1px solid #5d5d5d;
padding: 5px 10px;
border-radius: 5px;
margin-right: 5px;
color: #e4e4e4;
}
.fab.fa-twitter{
  border:1px solid #5d5d5d;
  padding: 5px 10px;
  border-radius: 5px;
  color: #e4e4e4;
}
.fab.fa-youtube{
  border:1px solid #5d5d5d;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 5px;
  color: #e4e4e4;
}
.fa-check-circle {
  font-size: 50px;
  color: #5ea79c;
  margin-top: 50px;
}
.phone::before{
  content: "";
  background: url(../img/phone.png) no-repeat;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -50px;
  background-size: cover;
  top: -10px;
}

.line::after{
  content: "";
  position: absolute;
  width: 131px;
  height: 2px;
  background: #ababab;
  left: 50px;
  bottom: 10px;
}
.line::before{
  content: "";
  position: absolute;
  width: 131px;
  height: 2px;
  background: #ababab;
  left: 432px;
  bottom: 10px;
}
*{
  padding: 0;
  margin: 0;
}
h1{
  color: #3b3b3b;
  text-transform: uppercase;
  font-size: 45px;
}
.fa-check-circle {
  font-size: 50px;
  color: #5ea79c;
  margin-top: 50px;
}
a{
  text-decoration: none;
  color: #606060;
  &:hover{
    color: #00a99d;
  }
}
body{
  background: #f9f9f9;
}
.color{
  color: #00a99d;
  &-size{
    font-size: 11px;
    color: #aaaaaa;
    margin-bottom: 10px;
  }
}
.post__line{
  width: 100px;
  margin: 7px;
  background-color: #484848;
  height: 1px;
  border: white;
}
.post-img{
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
}
.fontsize{
  font-size: 10px;
}
.fontup{
  font-size: 70px;
}
.left{
  margin-left: 10px;
}

.up{
  font-size: 70px;
  vertical-align: top;
}

.right--icon{
  background: #00a99d;
}
li{
  list-style-type: none;
}

.map-icon{
  width: 100%;
}
.last-icon{
  margin-top: -33px;
}
.owl-carousel-item{
  width: 150px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.owl-prev {
  left: 5px;
}
.owl-next {
  right: 5px;
}
