.vertical-sub{
  vertical-align: sub;
}
.vertical-middle{
  vertical-align: middle;
  position: relative;
}
.vertical-up{
  vertical-align: middle;
}
.sup{
  vertical-align: text-top;
  font-size: 14px;
}
