@import "b/main";
@import "b/container";
@import "b/titles";
@import "base";
@import "b/text";
@import "b/menu";
@import "b/header";
@import "b/gallery";
@import "b/btn";

.blog{
  background: #383838;

}
.blog__title{
  display: flex;
  align-items:center;
  flex-direction: column;
  margin-bottom: 50px;
}
.title--blog{
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  margin-top: 50px;
  position: relative;
}
.title--blog::before{
  content: "";
  background: url(../img/left-shapes.png) no-repeat;
  position: absolute;
  width: 28px;
  height: 20px;
  right: 270px;
  bottom: 0px;
}
.section-icon{
  display: flex;
  justify-content: center;
  margin-bottom: -25px;
}
.section-icon--img{
  z-index: 1;
}
.title--blog::after{
  content: "";
  background: url(../img/right-shapes.png) no-repeat;
  position: absolute;
  width: 28px;
  height: 20px;
  left: 270px;
  bottom: 0px;
}
.text--blog{
  color: #606060;
}
.blog__info{
  display: flex;
  justify-content: space-between;

}
.blog__details--item{
  display: flex;
  width: 400px;
  margin-bottom: 40px;
}
.blog__img{
  margin-right: 40px;
  margin-top: 5px;
}
.title--blog__details{
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  margin-bottom: 10px;
}
.blog__details{
  max-width: 400px;
  margin-top: 80px;
  margin-left: 50px;
}
.text--blog__details{
  font-size: 15px;
  color: #606060;
  line-height: 25px;
}
.blog__details--image IMG {
  position: relative;
}
.blog__details--first{
  z-index: 1;
  left: 190px;
}
