.btn{
  &:hover{
    color: black;
  }
  &--gallery__list{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #606060;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    color: #606060;
  }
  &--works{
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  &--works__button{
    text-transform: uppercase;
    color: white;
    background:#00a99d;
    width: 1170px;
    padding: 10px;
    border-radius: 5px;
  }
  &--works__button:hover{
    color: white;
  }
  &--label{
    text-transform: uppercase;
    color: #606060;
    background: #e4e4e4;
    width: 150px;
    padding: 10px;
    border-radius: 3px;
    margin-right: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  &--label:hover{
    color: black;
  }
  &--command-members{
    background: #00a99d;
    padding: 10px 15px;
    width: 135px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    margin-top: -19px;
    color: #e4e4e4;
  }
  &--command-members:hover{
    color: #e4e4e4;
  }
  &--command__member--color{
    background:  #383838;
  }
  &--more-button{
    background: #e4e4e4;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
    background-size: cover;
  }
  &--more-button{
    margin-bottom: 30px;
  }
  &--banners__list{
    backgroaund: #e4e4e4;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 3px;
  }
  &--package{
    background: #00a99d;
    text-decoration: none;
    color: white;
    padding: 10px;
    width: 118px;
    height: 20px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
  }
  &--container--purchase{
    background: #00a99d;
    text-decoration: none;
    color: white;
    padding: 10px 35px 10px 10px;
    width: 150px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    text-transform: uppercase;
    margin-top: 60px;
    position: relative;
  }
  &--container--purchase::after{
    content: "";
    background: url(../img/shop-cart.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 20px;
    right: 5px;
    bottom: 10px;
  }
}
