.btn{
  &:hover{
    color: #00a99d;
  }
  &--gallery__list{
    text-decoration: none;
    padding: 10px;
    border: 1px solid #606060;
    font-weight: bold;
    border-radius: 3px;
    font-size: 14px;
    color: #606060;
  }
  &--works{
    margin: 0 auto;
    display: flex;
    margin-top: 40px;
    margin-bottom: 50px;
  }
  &--works__button{
    text-transform: uppercase;
    color: white;
    background:#00a99d;
    width: 1170px;
    padding: 10px;
    border-radius: 5px;
  }
  &--works__button:hover{
    color: white;
  }
}
