.container{
  width: 1170px;
  margin: 0 auto;
  &-post{
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 620px;
  }
  &-title{
    display: flex;
    align-items:center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  &-menu{
    display: flex;
    justify-content: space-between;
  }
  // &--gallery{
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   margin-bottom: 35px;
  // }
  &-box{
    display: flex;
    width: 340px;
    margin-bottom: 30px;
  }
  &-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &--wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-label{
    display: flex;
    justify-content: space-between;
  }
  &-purchase{
    display: flex;
    justify-content: space-around;
  }
  &-social{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &-footer{
    display: flex;
    justify-content: center;
  }
}
