@import "variables";
.facts{
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  flex-direction: column;
  background: $back-black;
  &-row{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  &-item{
    position: relative;
  }
  &-item::after{
    content: "";
    background: url(../img/right-shape.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 120px;
    right: 170px;
    bottom: 0px;
  }
  &-item::before{
    content: "";
    background: url(../img/right-shape.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 120px;
    left: 200px;
    bottom: 0px;
  }
  &-item:nth-child(2)::after{
    content: "";
    background: url(../img/left-shape.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 120px;
    right: 170px;
    bottom: 0px;
  }
  &-item:nth-child(2)::before{
    content: "";
    background: url(../img/left-shape.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 120px;
    left: 200px;
    bottom: 0px;
  }
}
