.gallery{
  margin-top: 80px;
  background: #f9f9f9;
  margin-bottom: 30px;
}
.gallery-row{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.gallery-item{
  padding: 10px;
  margin: 10px;
  flex-basis: 25%;
}
.gallery__img{
  margin-bottom: 20px;
}
