.header{
  background: url(../img/profile.jpg) no-repeat;
  height: 620px;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
}
.header--ground{
  height: 60px;
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid silver;
  align-items: center;
}
