.header{
  background: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid silver;
  &__menu{
    display: flex;
    justify-content: space-between;
  }
}
