.main{
  background: url(../img/profile.jpg);
  height: 620px;
  &__post{
    height: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 620px;
  }
}
