.skills{
  background: #383838;
display: flex;
justify-content: center;
color: white;
text-align: center;
flex-direction: column;
&__item{
  position: relative;
}
&-circle{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
}
