.text{
  font-size: 18px;
  &--main{
    background: #363636;
    color: white;
    max-width: 600px;
    padding: 3px;
    border-radius: 5px;
  }
  &--main::before{
    content: "S";
    color: #5ea79c;
  }
  &--gallery{
    color: gray;
    margin-top: 10px;
  }
  &--gallery__list{
    font-size: 16px;
    color: #606060;
    margin-bottom: 35px;
  }
  &--blog{
    color: #606060;
  }
  &--blog__details{
    font-size: 15px;
    color: #606060;
    line-height: 25px;
  }
  &--info__item{
    font-size: 14px;
    color: #7a7a7a;
  }
}
