.title{
  &--main{
    color: #3b3b3b;
    margin-top: 50px;
    position: relative;
  }
  &--gallery{
    text-transform: uppercase;
    position: relative;
  }
  &--gallery__list{
    text-transform: uppercase;
    font-size: 18px;
    color: #606060;
    margin-bottom: 10px;
  }
  &--gallery::before{
    content: "";
    background: url(../img/left-shapes.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 20px;
    right: 235px;
    bottom: 0px;
  }
  &--gallery::after{
    content: "";
    background: url(../img/right-shapes.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 20px;
    left: 235px;
    bottom: 0px;
  }
  &--blog{
    text-transform: uppercase;
    color: white;
    margin-bottom: 10px;
    margin-top: 50px;
    position: relative;
  }
  &--blog::before{
    content: "";
    background: url(../img/left-shapes.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 20px;
    right: 270px;
    bottom: 0px;
  }
  &--blog::after{
    content: "";
    background: url(../img/right-shapes.png) no-repeat;
    position: absolute;
    width: 28px;
    height: 20px;
    left: 270px;
    bottom: 0px;
  }
  &--blog__details{
    text-transform: uppercase;
    color: white;
    font-size: 14px;
    margin-bottom: 10px;
  }
  &--info__item{
    text-transform: uppercase;
    color: #606060;
    font-size: 14px;
    margin-bottom: 5px;
  }
}
