.works{
  display: flex;
  justify-content: center;
  color: black;
  text-align: center;
  flex-direction: column;
}
.works-row{
  display: flex;
  justify-content: center;
  margin-top: -3px;
}
.works-item{
  margin: 1px;
}
.works-item__image{
  height: 235px;
  width: 235px;
  border-radius: 3px;
}
